:root {
  /* Primary */
  --clr-orangish-yellow: hsl(39, 94%, 66%);
  --clr-medium-blue: hsl(231, 89%, 54%);
  /* Neutral */
  --clr-white: hsl(0, 0%, 100%);
  --clr-text: hsl(0, 0%, 5%);
  --clr-light-grey: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section {
  padding: 1.5625rem 1rem;
}

input[type="number"] {
  color: var(--clr-text);
  font-weight: 700;
  padding: 0.75rem 0 0.75rem 1.4rem;
}

/* Removes default number arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Removes default number arrows in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  outline: none;
  border: 1px solid var(--clr-medium-blue);
}

hr {
  background-color: var(--clr-text);
  border: 1px solid var(--clr-text);
  opacity: 0.2;
}

.app {
  color: var(--clr-text);
  display: grid;
  grid-template-areas:
    "m h"
    "p p";
  grid-template-columns: 1fr 1fr;
  font-family: "Outfit", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid var(--clr-text);
  width: 800px;
  max-width: 800px;
}

.flex {
  display: flex;
}

.inputContainer {
  flex-direction: column;
}
