.btn {
  background-color: var(--clr-medium-blue);
  color: var(--clr-white);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.btn:hover {
  background-color: hsl(232, 89%, 25%);
}

.btn--small {
  padding: 1em 2.7em;
}

.btn--large {
  width: 100%;
  padding: 0.8em 0;
}

.calculate {
  margin-top: 0.3rem;
}

.compareLoan {
  background-color: transparent;
  color: var(--clr-text);
  outline: 3px solid var(--clr-orangish-yellow);
  margin-bottom: 1.2rem;
}

.compareLoan:hover,
.compareLoan:focus {
  background-color: var(--clr-orangish-yellow);
}

.btnAnchor {
  background-color: transparent;
  color: var(--clr-medium-blue);
  font-weight: 500;
  text-transform: initial;
}

.btnAnchor:hover,
.btnAnchor:focus {
  background-color: transparent;
  outline: none;
  text-decoration: underline;
}
