.btn {
  background-color: var(--clr-medium-blue);
  color: var(--clr-white);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.btn:hover,
.btn:focus {
  outline: none;
  background-color: hsl(232, 89%, 25%);
}

.btn--small {
  padding: 1em 2.7em;
}

.btn--large {
  width: 100%;
  padding: 0.8em 0;
}

.calculate {
  margin-top: 0.7rem;
}

.makeAPayment {
  background-color: transparent;
  outline: 3px solid var(--clr-orangish-yellow);
  margin-bottom: 1.2rem;
}

.makeAPayment:hover,
.makeAPayment:focus {
  background-color: var(--clr-orangish-yellow);
}
