.formSection {
  background-color: var(--clr-light-grey);
  grid-area: f;
}

.form__label {
  margin-bottom: 0.375rem;
}

.form__input {
  margin-bottom: 1rem;
  padding: 0.75rem 0 0.75rem 0.5rem;
}

.seperator {
  margin-bottom: 1rem;
}

.intrestRate {
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
