.paymentInfoSection {
  grid-area: h;
}

.paymentInfo {
  text-align: center;
  margin-bottom: 2.5rem;
}

.paymentInfo__header {
  margin-bottom: initial;
}

.paymentInfo__dollar {
  font-size: 1.7rem;
  display: inline-block;
  transform: translate(-8px, -18px);
}

.paymentInfo__num {
  font-size: 3.5rem;
}

.totalPaid {
  margin-bottom: 3rem;
  justify-content: space-between;
  margin: 0.625rem 0;
}

.paymentHistory {
  margin-top: 5.8rem;
}

.paymentHistory__info {
  flex-direction: column;
  gap: 1rem;
}
