.paymentHistory {
  text-align: center;
  margin-bottom: 2.5rem;
  grid-area: h;
}

.paymentHistory__dollar {
  font-size: 1.7rem;
  display: inline-block;
  transform: translate(-8px, -18px);
}

.paymentHistory__num {
  font-size: 3.5rem;
  font-weight: 700;
}

.totalPaid__flex {
  display: flex;
  justify-content: space-between;
  margin: 0.625rem 0;
}

.compareRates {
  text-align: center;
  margin-top: 5.8125rem;
}
