@media screen and (max-width: 850px) {
  body {
    padding: 2rem 2rem;
  }

  .app {
    grid-template-areas:
      "m"
      "h"
      "p";
    grid-template-columns: 1fr;
    width: initial;
  }
}
